<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Change Password</title>

</head>

<body>
	<section class="container">

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 ">
					<h1 class="text-center">Change Password</h1>
					<form th:action="@{/changePass}" method="post">
						<!--<div th:if="${param.error}">
							<div class="alert alert-danger">
								Invalid old password
							</div>
						</div>
						<div th:if="${param.change}">
							<div class="alert alert-info">
								Your Password Change Successfully.
							</div>
						</div>-->
						<th:block th:if="${session.message}">
							<p class="text-center text-success">[[${session.message}]]</p>
						</th:block>

						<div class="form-group m-2">
							<label for="username">Old Password: </label>
							<input type="text" class="form-control" id="username" name="oldPassword"
								placeholder="Enter Old Password" autofocus="autofocus">
						</div>
						<div class="form-group m-2">
							<label for="password">New Password: </label>
							<input type="password" class="form-control" id="password" name="newPassword"
								placeholder="Enter New Password" />
						</div>

						<div class="form-group m-2">
							<label for="password">Re-New Password: </label>
							<input type="password" class="form-control" id="password"
								placeholder="Enter New Password" />
						</div>


						<div class="form-group m-2">
							<div class="row">
								<div class="col-sm-6 col-sm-offset-3">
									<input type="submit" name="login-submit" id="login-submit"
										class="form-control btn btn-primary" value="Change">
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</section>


</body>

</html>